Repository vilhelmprytz/miljomataren: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lowe, abernathy

lowe:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd lowe
  - docker build --pull -t "$CI_REGISTRY_IMAGE:lowe" .
  - docker push "$CI_REGISTRY_IMAGE:lowe"

abernathy:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd abernathy
  - docker build --pull -t "$CI_REGISTRY_IMAGE:abernathy" .
  - docker push "$CI_REGISTRY_IMAGE:abernathy"

delos: Add arduino code from https://github.com/vilhelmprytz/miljomataren-arduino
  .gitignore
  README.md
  delos/.clang-format
  delos/.gitignore
  delos/.vscode/extensions.json
  delos/include/Network.h
  delos/include/Positioning.h
  delos/include/README
  delos/lib/README
  delos/platformio.ini
  delos/src/main.cpp
  delos/test/README
  lowe/.gitignore
Due: lowe

abernathy: initial work
  abernathy/components/layout.tsx
  abernathy/lib/posts.ts
  abernathy/package-lock.json
  abernathy/package.json
  abernathy/pages/api/hello.ts
  abernathy/pages/index.tsx
  abernathy/pages/login.tsx
  abernathy/pages/posts/[id].tsx
  abernathy/posts/pre-rendering.md
  abernathy/posts/ssg-ssr.md
  abernathy/public/favicon.ico
  abernathy/public/images/profile.jpg
Due: abernathy

Update README badges
  README.md
Due: none

lowe: trips are now considered inactive automatically
  docker-compose.yml
  lowe/blueprints/trip.py
  lowe/decorators/trip.py
  prod.yml
Due: lowe

Update deployment instructions prod.yml and .env.example
  .env.example
  lowe/README.md
  prod.yml
Due: lowe

.env.example: add port
  .env.example
Due: none

.env.example: rewrite
  .env.example
Due: none

prod.yml: fix broken config
  prod.yml
Due: none

abernathy: temporarily resolve failing Docker pipeline
  abernathy/pages/login.tsx
  prod.yml
Due: abernathy

delos: try to implement Adafruit GPS
  delos/include/Positioning.h
  delos/platformio.ini
  delos/src/main.cpp
Due: none

abernathy: update dependencies
  abernathy/package-lock.json
  abernathy/package.json
Due: abernathy

lowe: account for fuel_consumption in trip_cost
  lowe/.gitignore
  lowe/blueprints/position.py
  lowe/blueprints/trip.py
  lowe/core.py
  lowe/orm.py
  lowe/scripts/create_user.py
Due: lowe

lowe: update dependencies
  lowe/Pipfile.lock
Due: lowe

lowe/orm: change default database name for table User
  lowe/orm.py
Due: lowe

prod.yml: persistent PostgreSQL data
  prod.yml
Due: none

prod.yml: ill-named persistent volume renamed to simply PostgreSQL
  prod.yml
Due: none

lowe: orm: fix broken tablename references
  lowe/orm.py
Due: lowe

prod.yml: remove ports that should not be public
  prod.yml
Due: none

prod.yml: lower and abernathy should only bind to localhost
  prod.yml
Due: none

prod.yml: localhost:5000 for lowe, not port 3000 duplicate
  prod.yml
Due: none

prod.yml: make sure nginx config is in correct path and use internal networking
  nginx.conf
  prod.yml
Due: none

prod.yml: proper nginx.conf for proxy
  nginx.conf
  prod.yml
Due: none

prod.yml: bind proxy to localhost, not all interfaces
  prod.yml
Due: none

lowe: auth: redirect_url should not be request.base_url, use conf
  lowe/blueprints/auth.py
Due: lowe

delos: fetch GPS position and return as struct tuple
  delos/.vscode/settings.json
  delos/include/Network.h
  delos/include/Positioning.h
  delos/platformio.ini
  delos/src/main.cpp
Due: none

lowe: consider trip stale after 60 seconds when no child position
  lowe/decorators/trip.py
Due: lowe

lowe: decorators: trip: trip.trip_started, not trip.time_created
  lowe/decorators/trip.py
Due: lowe

delos: properly return false status from Positioning.get_position
  delos/include/Positioning.h
  delos/src/main.cpp
Due: none

lowe: decorators: trip: set trip_ended to datetime.now() when stale
  lowe/decorators/trip.py
Due: lowe

abernathy/lowe: update dependencies
  abernathy/package-lock.json
  abernathy/package.json
  lowe/Pipfile.lock
Due: lowe, abernathy

nginx.conf: server_tokens off, not on
  nginx.conf
Due: none

delos: initial Display.h code
  delos/include/Display.h
  delos/platformio.ini
  delos/src/main.cpp
Due: none

lowe: only consider active trips stale after 60 seconds
  lowe/decorators/trip.py
Due: lowe

delos: Positioning: return in deg not deg/minutes
  delos/include/Positioning.h
Due: none

docs: Add initial Fritzing circuit diagram/schematic
  miljomataren.fzz
Due: none

delos: initial working GPS, network and LCD
  delos/include/Display.h
  delos/include/Network.h
  delos/include/Positioning.h
  delos/src/main.cpp
Due: none

delos: HTTP fail, not network fail
  delos/.vscode/settings.json
  delos/src/main.cpp
Due: none

Path conditions:
  lowe: any of: lowe/**/*
  abernathy: any of: abernathy/**/*
