Repository vilhelmprytz/miljomataren: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lowe, abernathy

.gitlab-ci.yml:

lowe:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd lowe
    - docker build --pull -t "$CI_REGISTRY_IMAGE:lowe" .
    - docker push "$CI_REGISTRY_IMAGE:lowe"
  only:
    refs:
      - master
    changes:
      - lowe/**/*

abernathy:
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd abernathy
    - docker build --pull -t "$CI_REGISTRY_IMAGE:abernathy" .
    - docker push "$CI_REGISTRY_IMAGE:abernathy"
  only:
    refs:
      - master
    changes:
      - abernathy/**/*

delos: start trip initially
  delos/README.md
  delos/include/Network.h
  delos/include/example.config.h
  delos/src/main.cpp
Due: none

lowe: token based authentication implemented
  lowe/Pipfile.lock
  lowe/app.py
  lowe/blueprints/token.py
  lowe/core.py
  lowe/decorators/auth.py
  lowe/orm.py
Due: lowe

prod.yml: export TZ to lowe container
  prod.yml
Due: none

delos: implement tokens
  delos/.vscode/settings.json
  delos/include/Network.h
  delos/include/example.config.h
  delos/src/main.cpp
Due: none

lowe: return statistics on /api/position and fix bug in stale trip check
  lowe/blueprints/position.py
  lowe/decorators/trip.py
Due: lowe

lowe: fix invalid variable reference
  lowe/blueprints/position.py
  lowe/blueprints/trip.py
Due: lowe

delos: initial, almost working, Arduino code
  delos/include/Display.h
  delos/src/main.cpp
Due: none

lowe: use total_seconds() when calculating speed for accuracy
  lowe/core.py
Due: lowe

lowe/abernathy: update dependencies
  abernathy/package-lock.json
  abernathy/package.json
  lowe/Pipfile.lock
Due: lowe, abernathy

delos: fix it
  delos/include/Positioning.h
  delos/src/main.cpp
Due: none

lowe: account for service_cost and insurance_cost
  lowe/core.py
Due: lowe

docs: add detailed introduction and equipment to README
  README.md
Due: none

docs: Add initial fritzing file
  miljomataren.fzz
Due: none

lowe: account for yearly tax
  lowe/blueprints/car.py
  lowe/core.py
  lowe/orm.py
Due: lowe

Initial new Next.js app
  abernathy/.gitignore
  abernathy/Dockerfile
  abernathy/README.md
  abernathy/components/date.tsx
  abernathy/components/layout.module.css
  abernathy/components/layout.tsx
  abernathy/next-env.d.ts
  abernathy/package-lock.json
  abernathy/package.json
  abernathy/pages/_app.js
  abernathy/pages/_app.tsx
  abernathy/pages/api/hello.js
  abernathy/pages/index.js
  abernathy/pages/index.tsx
  abernathy/pages/login.tsx
  abernathy/public/favicon.ico
  abernathy/public/vercel.svg
  abernathy/styles/Home.module.css
  abernathy/styles/globals.css
  abernathy/styles/utils.module.css
  abernathy/tsconfig.json
Due: abernathy

Reformat boilertemplate
  abernathy/pages/_app.js
  abernathy/pages/api/hello.js
  abernathy/pages/index.js
Due: abernathy

lowe: add CORS policy
  .env.example
  lowe/Pipfile
  lowe/Pipfile.lock
  lowe/app.py
  lowe/config.py
  prod.yml
Due: lowe

Initial frontend work
  abernathy/Dockerfile
  abernathy/README.md
  abernathy/package-lock.json
  abernathy/package.json
  abernathy/pages/api/hello.js
  abernathy/pages/index.js
  abernathy/pages/login.js
  abernathy/public/favicon.ico
  prod.yml
Due: abernathy

Dashboard and index router
  abernathy/pages/dashboard.js
  abernathy/pages/index.js
Due: abernathy

lowe: redirect() to FRONTEND_URL on /auth/callback
  lowe/blueprints/auth.py
Due: lowe

Add pages/trip/[id].js
  abernathy/pages/trip/[id].js
  abernathy/src/fetcher.js
Due: abernathy

abernathy: WIP, not working yet fully
  abernathy/pages/_app.js
  abernathy/pages/car.js
  abernathy/pages/dashboard.js
  abernathy/pages/index.js
  abernathy/pages/token.js
  abernathy/pages/trip/[id].js
  abernathy/src/fetcher.js
Due: abernathy

abernathy: add boilertemplate /car and /token to fix broken builds
  abernathy/pages/_app.js
  abernathy/pages/car.js
  abernathy/pages/dashboard.js
  abernathy/pages/login.js
  abernathy/pages/token.js
Due: abernathy

abernathy: pages/_app: import styles
  abernathy/pages/_app.js
Due: abernathy

delos: cycle between showing speed and CO2 every 10 seconds
  delos/src/main.cpp
Due: none

docs: add system_overview and .drawio file
  docs/miljomataren.drawio
  docs/miljomataren.fzz
  docs/system_overview.jpg
Due: none

abernathy: improve getting data with swr
  abernathy/lib/fetchJson.js
  abernathy/lib/useCars.js
  abernathy/lib/useTrip.js
  abernathy/lib/useTrips.js
  abernathy/lib/useUser.js
  abernathy/pages/_app.js
  abernathy/pages/car.js
  abernathy/pages/dashboard.js
  abernathy/pages/index.js
  abernathy/pages/trip/[id].js
  lowe/Pipfile.lock
Due: lowe, abernathy

docs: add circuit_diagram and circuit_schematic
  docs/circuit_diagram.jpg
  docs/circuit_schematic.jpg
  docs/miljomataren.fzz
Due: none

Add system overview and circuit/schematic diagram to README
  README.md
Due: none

abernathy: Show latest trips and trip id info
  abernathy/pages/index.js
  abernathy/pages/trip/[id].js
Due: abernathy

abernathy: show more information on / and /trip/[id]
  abernathy/pages/index.js
  abernathy/pages/trip/[id].js
Due: abernathy

lowe: filter by trip_id on /api/position
  lowe/blueprints/position.py
Due: lowe

lowe: fix flake8 errors
  lowe/blueprints/position.py
Due: lowe

abernathy: use leaflet to try to show map
  abernathy/components/Map.js
  abernathy/lib/usePositions.js
  abernathy/package-lock.json
  abernathy/package.json
  abernathy/pages/trip/[id].js
Due: abernathy

abernathy: fix broken call to API url
  abernathy/lib/usePositions.js
Due: abernathy

abernathy: specific map size and useTokens
  abernathy/components/Map.js
  abernathy/lib/useTokens.js
  abernathy/pages/car.js
  abernathy/pages/token.js
Due: abernathy

abernathy: add missing imports
  abernathy/components/Map.js
  abernathy/pages/token.js
Due: abernathy

abernathy: update styling
  abernathy/pages/trip/[id].js
  abernathy/styles/Home.module.css
Due: abernathy

abernathy: pass leafletPositions to Map, not next/dynamic
  abernathy/pages/trip/[id].js
Due: abernathy

abernathy: properly pass leafletPositions to components/Map
  abernathy/components/Map.js
  abernathy/pages/trip/[id].js
Due: abernathy
